<header>
  <h1 class="welcome">WELCOME TO SPOTIFY <%=cozy.UserName%>!!</h1>
    <nav>
        <ul>
          <li><a href="/allUsers">Users</a></li>
          <li><a href="/allArtists">Artists</a></li>
          <li><a href="/allAlbums">Albums</a></li>
          <li><a href="/allSongs">Songs</a></li>
          <li><a href="/allPlaylists">Playlists</a></li>

        </ul>
      </nav>
</header>