<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/allUsers.css">
    <title>All Users</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <a href="">create user</a>
    <% users.forEach((user) => { %>

        <div class="user-card">
        <img src="<%= user.Img%>" alt="User image">
        <h3>
            <a href="/user/<%=user.UserName%>">
                <%=user.UserName%>
            </a>
        </h3>
        </div>

        <%})%>
</body>
</html>