.album-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  
  .album-card .album-cover {
    width: 4em;
    height: 4em;
    object-fit: cover;
    margin-right: 0.5em;
  }

  .favorite-button {
    background-color: transparent;
    border: none;
    /* color: #e74c3c; */
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
  }
  
  .favorite-button:hover {
    color: #c0392b; /* darker red */
  }

  .liked {
    color: #e74c3c;
  }

  .minus-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    display: flex;
  }
  
  .minus-button:hover {
    color: red;
  }
  
  
  .album-card .album-info {
    display: flex;
    flex-direction: column;
  }
  
  .album-card h3 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
  }
  
  .album-card p {
    margin: 0;
    font-size: 0.8em;
    color: #666;
  }
  
  .album-card .artist-tag {
    font-size: 0.8em;
    color: #999;
    margin-bottom: 0.5em;
  }
  