.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
  }
  
  .user-profile img {
    width: 13em;
    height: 13em;
    /* border-radius: 50%; */
    object-fit: cover;
    margin-bottom: 1em;
  }
  
  .user-profile h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .user-profile .albums,
  .user-profile .artists,
  .user-profile .songs,
  .user-profile .playlists {
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em;
  }

  .artist-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  
  .artist-card img {
    width: 6em;
    height: 6em;
    object-fit: cover;
    margin-right: 0.5em;
  }
  
  .artist-card h3 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
  }
  

 
  